@use 'colors' as *;
@use 'mixins' as *;

form{
    background-color: $white;
    color: $greyblack;
    @include flexbox(column, nowrap, 1rem);
    @include box(600px, auto, 3rem, 30px);

    input{
        @include box(100%, auto, 1rem, 20px);
        border: 1px solid $greyblack;
    }
}