@use 'variables' as *;


.category-box{
    background-color: $mainColor;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    align-items:flex-end;

}


.news-box-img{
    height: $heightNewsBoxImg;
    width: $widthNewsBoxImg;
    border-radius: 10px;
}


.pop-box-img{
    height: $heightPopBoxImg;
    width: $widthPopBoxImg;
    border-radius: 10px;
}


.logo-img{
    border-radius: 100px;
    max-height: 100px;
    max-width: 100px;
}


.global-nav{
    justify-content: space-around;
    padding: 0;
    list-style: none;
}

.global-nav-icons{
    font-size: $iconSize;
    text-decoration: none;
    color: $iconColor;
}

.global-nav-position{
    position: fixed;
    bottom: 0;
    left: 0;

}