@use 'variables' as *;
@use 'mixins' as *;
@use 'base' as *;

#flexgrid{
    @include flexgrid(1fr 1fr, repeat(8, auto), 100%);
}

h1{
    font-family: $mainFont;
    color: $mainColor;
}

body{
    background-color: grey;
}